@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('../font/fontawesome/css/all.css');

#deactivate {
  background-color: white;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.02;
  z-index: 95;
}
.fbody {
	color: white;
	background-image: url('../img/01.png');
	background-position: 0px -100px;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ibody {
	overflow: hidden;
}

a {
	cursor: pointer;
}

#glist a {
	display: block;
	text-decoration: none;
	color: black;
	font: 18px 'Montserrat';
	border: 1px solid #ddd;
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	transition: 0.2s ease;
}

#glist a:hover {
	background-color: #eee;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.gembed {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}

#gsearchbar {
	outline: none;
	width: 342px;
	top: 12px;
	font: 16px 'Montserrat';
	border: 1px solid rgba(0,0,0,0.3);
	padding: 12px 12px 12px 44px;
	background-image: url('../search.svg');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: 12px 50%;
	margin-bottom: 12px;
	transition: 0.2s ease;
}

#gsearchbar:focus {
	background-color: #eee;
	box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.4);
}

.frameholder {
	width: 100%;
	height: calc(100% - 70px);
	position: absolute;
	margin: 0;
	left: 0;
	top: 70px;
}

#theframe {
	width: 100%;
	height: 100%;
	border: none;
}

header {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	height: 50px;
	position: absolute;
	background-color: white;
	color: black;
	font-family: sans-serif;
}

header ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
}

header ul li {
	display: inline;
	margin: 10px;
}

header ul li a {
	color: black;
	text-decoration: none;
}

.viruslogoheader {
	width: 50px;
	height: 50px;
	vertical-align: -100%;
	margin-right: 10px;
	transition: transform 0.5s ease-in;
	transform: rotate(0deg);
}

.viruslogoheader:hover {
	transition: transform 0.5s ease-out;
	transform: rotate(360deg);
}

#rusic-modal {
	border: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 90;
	position: fixed;
	background-color: #fff;
	display: block;
	user-select: none;
}

.container {
	padding: 20px;
	height: 100%;
}

.box {
	margin: auto;
	width: 400px;
	height: 100%;
}

.flink {
	float: right;
	font-size: 2em;
	padding: 8px 14px;
}

#glist {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 400px;
	height: 80%;
	padding: 0;
	text-align: center;
}

#glist h2 {
	display: block;
	text-decoration: none;
	color: white;
	font: 18px 'Montserrat';
	border: 1px solid #060606;
	margin: -1px 0 0 0;
	background-color: #060606;
	padding: 12px;
	font-weight: bold;
	user-select: none;
}
#rusic-cover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 91;
    position: fixed;
    user-select: none;
}
