@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 25px;
}

body {
	background-image: url("resources/picture.jpg");
	margin: 0;
}

img:hover {
    animation: rotater 0.4s 1;
}

@keyframes rotater {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

a {
    text-decoration: none;
    color: #0465b9; /*Green does not match with purple and pink but blue does*/
    transition: 0.2s ease;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.41);
}

#align {
    margin: 0 auto;
	text-align: center;
	max-width: 500px;
}

.game {
	background-color: rgba(190,190,190,0.3);
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 8px;
	width: 130px;
	height: 50px;
	margin: 5px 5px;
	padding: 0 0px;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: 0.2s ease;
}

.game > a {
	text-decoration: none;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
	color: white;
    transition: 0.2s ease;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.game:hover{
	background-color: rgba(255, 255, 255, 0.83);
	border: 2px solid rgba(255, 255, 255, 0);
}

.game:hover > a {
	color: rgb(41, 41, 41);
    text-shadow: none;
}

.game:active{
    box-shadow: 0 0 50px 5px rgba(233, 170, 252, 0.68);
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    margin: 0;
    text-align: center;
    z-index: 0;
}
