@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif;	
}

a{
    text-decoration: none;
}

body {
	margin: 0;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
    background-image: url("../resources/new.jpg");
}

.game {
	width: 100%;
	text-align: center;
    margin-top: 25px;
}

object{
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
}

.back {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    font-weight: 800;
    
    margin: 10px;
    opacity: 0.4;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 2px 0px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
    height: 75px;
}

.back > img {
    display: inline;
    height: 45px;
    margin-top: -5px;
    margin-bottom: -27px;
    transition: 0.3s ease;
}

.back > p {
    margin-bottom: -6px;
    text-decoration: none;
    color: black;
}

.back:hover{
    cursor: pointer;
    opacity: 1;
}

.back:hover > img {
    animation: rotateLogo 0.4s 1;
}

#top {
    margin-left: 18px;
}

#bottom {
    display: none;
}

@keyframes rotateLogo {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@media(max-width: 862px){
    #top{
        display: none;
    }
    
    #bottom{
        display: inherit;
        position: relative;
        margin-top: 7px;
    }
}